@{
    ViewData["Title"] = "Home Page";
}

<style>
    /* Stil kodları burada */

    .image-container {
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        z-index: -1;
    }

    .image-container img {
        width: 100vw;
        height: 100vh;
        object-fit: cover;
    }

    .text-container {
   background-color: #f8f9fa;
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
        margin: 20px auto;
        max-width: 800px;
    }

    .closing {
        transition: opacity 1s ease, transform 1s ease;
        opacity: 0;
        transform: scale(0.9);
    }
</style>

<div class="image-container">
    <img src="img/library.png" alt="Library Image" />
</div>

<div class="text-container text-center" id="infoContainer">
    <h2>Kütüphanenize'e hoş geldiniz</h2>
    <p>Lütfen Kayıtlı Değilseniz "Register" Kısmından Kayıt Olunuz ...</p>
</div>

<script>
    document.addEventListener("DOMContentLoaded", function () {
        var textContainer = document.getElementById("infoContainer");

        // Hide the infoContainer after 3 seconds
        setTimeout(function () {
            textContainer.classList.add("closing");
            setTimeout(function () {
                textContainer.style.display = "none";
            }, 1000); // Wait for 1 second before hiding the container
        }, 3000); // Wait for 3 seconds before starting the transition
    });
</script>
